.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #1a73e8;
  color: white;
  flex-wrap: wrap;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.navbar button {
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #cc0000;
}

.cart-link {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}


/* Responsive */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    margin: 5px 0;
  }

  .navbar button {
    margin-top: 5px;
  }
}
